<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>

    <title>Presence analyzer by template</title>


    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/commons.css" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/static/js/jquery.min.js"></script>

	<script type="text/javascript">
    	function get_page_url() {
    		return null;
    	}
    </script>

   	<%block name="custom_js"/>

    <script src="/static/js/commons.js"></script>
     <script type="text/javascript">

        google.load("visualization", "1", {packages:["corechart", "timeline"], 'language': 'en'});


        (function($) {
            $(document).ready(function(){
	           	load_users($);
	           	show_user_data($, get_change_user_url(), show_user_data_handler);
            });
        })(jQuery);


    	$(window).bind("load", function() {
    		url = get_page_url()
    		if (url != null) {
    			var header = document.getElementById("header");
    			var li_list = header.getElementsByTagName("LI")
    			for (i=0; i<li_list.length; i++) {
    				var a = li_list[i].getElementsByTagName("A");
    				if (a[0].href.lastIndexOf(get_page_url()) > 0) {
    					li_list[i].id = "selected";
    					break;
    				}
    			}
    		}
    	});

    </script>
</head>

<body>
    <div id="main">
    	<div id="header">
            <%block name="header"/>
            <ul>
                <li><a href="/static/presence_weekday.html">Presence by weekday</a></li>
                <li><a href="/static/mean_time_weekday.html">Presence mean time</a></li>
                <li><a href="/static/presence_start_end.html">Presence by mean time</a></li>
            </ul>
        </div>


        <div id="content">
            <%block name="sub_title"/>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="/static/img/loading.gif" />
                </div>
            </p>
        </div>

    </div>
</body>
</html>
