<%inherit file="base_template.html" />
<%
def get_javascripts():
   	return ['/static/js/presence_weekday.js']
%>

<%block name="header">
	<h1>Presence analyzer by template</h1>
</%block>

<%block name="sub_title">
    <h2>Presence by weekday</h2>
</%block>



<!--
<%!
    includes = [
        '<link rel="stylesheet" type="text/css" href="/static/css/commons.css"/>',
        '<script type="text/javascript" src="/static/js/commons.js"></script>'
    ]
%>
-->

<!--
    <script type="text/javascript">
    	function visualize_user_data($, result) {
    		var chart_div = $('#chart_div');
    		var loading = $('#loading');
        	var data = google.visualization.arrayToDataTable(result);
        	var options = {};
        	chart_div.show();
        	loading.hide();
        	var chart = new google.visualization.PieChart(chart_div[0]);
        	chart.draw(data, options);
    	})
    </script>
 -->
