<%inherit file="base_template.html" />

<%block name="header">
	<h1>Presence analyzer</h1>
</%block>

<%block name="sub_title">
    <h2>Presence start-end weekday (template)</h2>
</%block>

<%block name="custom_js">
    <script type="text/javascript">

		function preprocess_user_data($, result) {
            result_data = [];
            $.each(result, function(index, value) {
                result_data[index] = [value[0],
                                 new Date(1, 1, 1, parseInt(value[1][0]), parseInt(value[1][1]), parseInt(value[1][2])),
                                 new Date(1, 1, 1, parseInt(value[2][0]), parseInt(value[2][1]), parseInt(value[2][2]))]
        	});
			return result_data;
		}

	    function show_user_data_handler(chart_div, loading, result) {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Weekday');
            data.addColumn({ type: 'datetime', id: 'Start' });
            data.addColumn({ type: 'datetime', id: 'End' });
            data.addRows(result);
            var options = {
                hAxis: {title: 'Weekday'}
            };
            var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
            formatter.format(data, 1);
            formatter.format(data, 2);

            chart_div.show();
            loading.hide();

            var chart = new google.visualization.Timeline(chart_div[0]);
            chart.draw(data, options);
	    }

    	function get_change_user_url() {
    		return "/api/v1/presence_start_end/";
    	}

    	function get_page_url() {
    		return "/static/presence_start_end.html";
    	}

    </script>
</%block>
